:ruby
  wrapper_mappings = {
    boolean:       :horizontal_boolean,
    check_boxes:   :horizontal_collection,
    date:          :horizontal_multi_select,
    datetime:      :horizontal_multi_select,
    file:          :horizontal_file,
    radio_buttons: :horizontal_collection,
    range:         :horizontal_range,
    time:          :horizontal_multi_select,
    select:        :horizontal_select
  }
.body-center
  .card.col-12.col-md-8
    .card-header.bg-primary
      %h3.card-title= @server.name_for_ui
    = simple_form_for @server, wrapper: :horizontal_form, wrapper_mappings: wrapper_mappings do |f|
      = return_to_tag
      = render "form", f: f