.body-center
  .card.card-form
    .card-header.text-center.bg-primary
      %h3 #{@podcast.title} / #{@episode.title}
    .card-body
      = simple_form_for [@podcast, @episode] do |f|
        = render "form", f: f