html, body {
  min-height: 100vh;
}

main.layout-application {
  @extend .container;
}

.body-center {
  @extend .d-flex;
  @extend .justify-content-center;
}

.badge-link {
  @extend .badge;
  text-decoration: none;
}

// The validation color on checkbox labels makes it unreadable in a lot of cases
form.simple_form div.form-check label.form-check-label {
  color: inherit;
}